{% extends 'base_main.html' %}
{% block title %}
    爱家-房间信息
{% endblock %}

    {% block css %}
        {{ super() }}
        <link href="/static/css/ihome/detail.css" rel="stylesheet">
    {% endblock %}

{% block content %}
    <div class="container">
        <div class="top-bar">
            <div class="nav-bar">
                <h3 class="page-title">房间信息</h3>
                <a class="nav-btn fl" href="#" onclick="hrefBack();"><span><i class="fa fa-angle-left fa-2x"></i></span></a>
            </div>
        </div>
        <div class="swiper-container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide"><img src="/static/images/home01.jpg"></li>
                <li class="swiper-slide"><img src="/static/images/home02.jpg"></li>
                <li class="swiper-slide"><img src="/static/images/home03.jpg"></li>
            </ul>
            <div class="swiper-pagination"></div>
            <div class="house-price">￥<span>300</span>/晚</div>
        </div>
        <div class="detail-con">
            <div class="detail-header layout-style">
                <h2 class="house-title">房屋标题</h2> 
                <div class="landlord-pic"><img src="/static/images/landlord01.jpg"></div>
                <h2 class="landlord-name">房东： <span>房东姓名</span></h2>
            </div>
            <div class="house-info layout-style">
               <h3>房屋地址</h3>
               <ul class="house-info-list text-center">
                    <li>地址内容中关村</li>
               </ul>
            </div>
            <ul class="house-type layout-style">
                <li>
                    <span class="icon-house"></span>
                    <div class="icon-text" id="icon-house">
                        <h3>出租6间</h3>
                        <p>房屋面积:200平米</p> 
                        <p>房屋户型:三室两厅两卫</p>
                    </div>
                </li>
                <li>
                    <span class="icon-user"></span>
                    <div class="icon-text" id="icon-user">
                        <h3>宜住10人</h3>
                    </div>
                </li>
                <li>
                    <span class="icon-bed"></span>
                    <div class="icon-text" id="icon-bed">
                        <h3>卧床配置</h3>
                        <p>双人床两张</p>
                    </div>
                </li>
            </ul> 
            <div class="house-info layout-style">
                <h3>房间详情</h3>
                <ul class="house-info-list">
                    <li>收取押金<span>2000</span></li>
                    <li>最少入住天数<span>1</span></li>
                    <li>最多入住天数<span>无限制</span></li>
                </ul>
            </div>
            <div class="house-facility layout-style">
                <h3>配套设施</h3>
                <ul class="house-facility-list clearfix">

                </ul>
            </div> 
            <div class="house-info layout-style">
                <h3>评价信息</h3>
                <ul class="house-comment-list">
                    <li>
                        <p>用户名<span class="fr">2016-11-11 20:00:00</span></p>
                        <p>感觉不错</p>
                    </li>
                </ul>
            </div>
        </div>
        <a class="book-house" href="">即刻预定</a>
        <div class="footer">
            <p><span><i class="fa fa-copyright"></i></span>爱家租房&nbsp;&nbsp;享受家的温馨</p>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ super() }}
    <script src="/static/js/ihome/detail.js"></script>
{% endblock %}